<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2018年DDNet之旅</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/querystat">
        <label for="mylabel">请输入用户名</label>
        <input type="text"
          class="form-control" name="username" id="input_username" aria-describedby="helpId" placeholder="Eki" value="Eki">
        <small id="helpId" class="form-text text-muted">请输入用户名</small>
        <input type="submit" value="查询" />
    </form>
</body>
</html>